citygml/ShapeChange/output/INPUT/CityGML_SRIADE.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bldg="http://www.opengis.net/citygml/building/2.0" xmlns:gen="http://www.opengis.net/citygml/generics/2.0" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" targetNamespace="http://www.citygml.org/ade/SRI/0.1" version="0.1" xmlns:="http://www.citygml.org/ade/SRI/0.1">
  <annotation>
    <documentation>SRI: Contains the Application Schema for the SRI ADE.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/building.xsd"/>
  <import namespace="http://www.opengis.net/citygml/generics/2.0" schemaLocation="http://schemas.opengis.net/citygml/generics/2.0/generics.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="ownerName" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="string"/>
  <element name="usefulFloorArea" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="gml:AreaType"/>
  <element name="BuildingType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type=":BuildingTypeType"/>
  <element name="climateZone" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="string"/>
  <element name="Assessor" substitutionGroup="gml:_Feature" type=":AssessorType"/>
  <complexType name="AssessorType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="Name" type="gen:StringAttributePropertyType"/>
          <element name="Organisation" type="gen:StringAttributePropertyType"/>
          <element name="E-Mail" type="gen:StringAttributePropertyType"/>
          <element name="PhoneNumber" type="gen:StringAttributePropertyType"/>
          <element minOccurs="0" name="Assessor" type=":SRIAssessmentPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AssessorPropertyType">
    <sequence minOccurs="0">
      <element ref=":Assessor"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="BuildingStateType">
    <restriction base="string">
      <enumeration value="Original"/>
      <enumeration value="AdvancedRefurbishment"/>
      <enumeration value="NormalRefurbishment"/>
      <enumeration value="Other"/>
    </restriction>
  </simpleType>
  <simpleType name="BuildingTypeType">
    <restriction base="string">
      <enumeration value="Residential"/>
      <enumeration value="NonResidential"/>
    </restriction>
  </simpleType>
  <simpleType name="BuildingUsageType">
    <restriction base="string">
      <enumeration value="Other"/>
      <enumeration value="SingleFamilyHouse"/>
      <enumeration value="Residential - large MultiFamilyHouse"/>
      <enumeration value="NonResidential - Other"/>
      <enumeration value="Residential - single-family-house"/>
      <enumeration value="Residential - small multi-family house"/>
      <enumeration value="Residential - other"/>
      <enumeration value="NonResidentialOffice"/>
      <enumeration value="NonResidentialEducational"/>
      <enumeration value="NonResidentialHealthcare"/>
    </restriction>
  </simpleType>
  <simpleType name="ClimateZoneType">
    <restriction base="string">
      <enumeration value="WestEurope"/>
      <enumeration value="SouthEastEurope"/>
      <enumeration value="NorthEastEurope"/>
      <enumeration value="NorthEurope"/>
      <enumeration value="Other"/>
    </restriction>
  </simpleType>
  <simpleType name="DataCategoryType">
    <restriction base="string">
      <enumeration value="EnergyData"/>
      <enumeration value="IndoorEnvironmentalData"/>
      <enumeration value="OutdoorEnvironmentalData"/>
      <enumeration value="SystemOperationalData"/>
      <enumeration value="ControlSettingData"/>
      <enumeration value="OccupantData"/>
      <enumeration value="DesignBasisData"/>
      <enumeration value="AssetData"/>
      <enumeration value="UtilityGridData"/>
      <enumeration value="OnsiteEnergyGenerationData"/>
      <enumeration value="CyberDeviceData"/>
      <enumeration value="Other"/>
    </restriction>
  </simpleType>
  <element name="DataCategory" substitutionGroup="gml:_Feature" type=":DataCategoryType"/>
  <complexType name="DataCategoryType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="dataCategory" type=":DataCategoryType"/>
          <element name="description" type="gen:StringAttributePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DataCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref=":DataCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Domain" substitutionGroup="gml:_Object" type=":DomainType"/>
  <complexType name="DomainType">
    <sequence/>
  </complexType>
  <complexType name="DomainPropertyType">
    <sequence>
      <element ref=":Domain"/>
    </sequence>
  </complexType>
  <element name="EnergyData" substitutionGroup=":DataCategory" type=":EnergyDataType"/>
  <complexType name="EnergyDataType">
    <complexContent>
      <extension base=":DataCategoryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnergyDataPropertyType">
    <sequence minOccurs="0">
      <element ref=":EnergyData"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="FunctionalityLevel" substitutionGroup="gml:_Feature" type=":FunctionalityLevelType">
    <annotation>
      <documentation>Description of the functionality level of a Smart Readiness Indicator (SRI). Description contains information such as Level Number, textual description and further remarks.</documentation>
    </annotation>
  </element>
  <complexType name="FunctionalityLevelType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ID" type="gen:StringAttributePropertyType"/>
          <element name="Name" type="gen:StringAttributePropertyType"/>
          <element name="Description" type="gen:StringAttributePropertyType"/>
          <element name="FunctionalityLevel" type="gen:IntAttributePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FunctionalityLevelPropertyType">
    <sequence minOccurs="0">
      <element ref=":FunctionalityLevel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Methodology" substitutionGroup="gml:_Feature" type=":MethodologyType"/>
  <complexType name="MethodologyType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="PreferredWeightings" type="gen:StringAttributePropertyType">
            <annotation>
              <documentation>Preferred Weightings of the SRI Assessment. These can either be default or user-defined.</documentation>
            </annotation>
          </element>
          <element name="PreferredServiceCatalogue" type="gen:StringAttributePropertyType">
            <annotation>
              <documentation>The preferred Service Catalogue for the Assesment.</documentation>
            </annotation>
          </element>
          <element name="HeatingPresent" type="boolean"/>
          <element name="CoolingDomainPresent" type="boolean"/>
          <element name="VentilationDomainPresent" type="boolean"/>
          <element name="LightingDomainPresent" type="boolean"/>
          <element name="DynamicBuildingEnvelopeDomainPresent" type="boolean"/>
          <element name="ElectricityDomainPresent" type="boolean"/>
          <element name="ElectricVehicleChargingDomainPresent" type="boolean"/>
          <element name="MonitoringAndControlDomainPresent" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="SRIAssesments" type=":SRIAssessmentPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MethodologyPropertyType">
    <sequence minOccurs="0">
      <element ref=":Methodology"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="QualityValueType">
    <annotation>
      <documentation>Based on SpatialQualityValue in the UtilityADE.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="surveyed"/>
      <enumeration value="calculated"/>
      <enumeration value="interpolated"/>
      <enumeration value="estimated"/>
      <enumeration value="assumed"/>
      <enumeration value="unknown"/>
    </restriction>
  </simpleType>
  <element name="SRIAssessment" substitutionGroup="gml:_Feature" type=":SRIAssessmentType">
    <annotation>
      <documentation>Smart Readiness Indicator (SRI) Assessment of a building. The Assessment is conducted by an Assessor, and leads to a rating of a specific building. Depending on the specifics (such as location, type of building, catalogue considered relevant) different types of services are investigated.</documentation>
    </annotation>
  </element>
  <complexType name="SRIAssessmentType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="Score" type="gen:IntAttributePropertyType"/>
          <element name="Date" type="gen:DateAttributePropertyType"/>
          <element name="FullBuilding" type="boolean"/>
          <element maxOccurs="unbounded" name="Assesments" type=":SRIServicePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Assesments" type=":AssessorPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SRIAssessmentPropertyType">
    <sequence minOccurs="0">
      <element ref=":SRIAssessment"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SRIService" substitutionGroup="gml:_Feature" type=":SRIServiceType">
    <annotation>
      <documentation>Contains the information on a specific service, the minimum information include, Code (e.g., MC-3), Domain (e.g., Monitoring and control), service group (e.g., HVAC interaction control), Name (e.g., Run time management of HVAC systems), Preconditions (e.g. " "), part of Method A (e.g., True), part of Method B (e.g., False).</documentation>
    </annotation>
  </element>
  <complexType name="SRIServiceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="Domain" type="gen:StringAttributePropertyType"/>
          <element name="Impact" type="gen:StringAttributePropertyType"/>
          <element name="Code" type="gen:StringAttributePropertyType"/>
          <element name="Name" type="gen:StringAttributePropertyType"/>
          <element name="ServiceGroup" type="gen:StringAttributePropertyType"/>
          <element name="Preconditions" type="gen:StringAttributePropertyType"/>
          <element name="UserDefined" type="boolean"/>
          <element name="PartOfMethodA" type="boolean"/>
          <element name="PartOfMethodB" type="boolean"/>
          <element maxOccurs="unbounded" name="Services" type=":SRIAssessmentPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SRIServicePropertyType">
    <sequence minOccurs="0">
      <element ref=":SRIService"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="_AbstractBuilding" substitutionGroup="gml:_Feature" type=":_AbstractBuildingType"/>
  <complexType name="_AbstractBuildingType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="BuildingType" type=":BuildingTypeType"/>
          <element name="BuildingUsage" type=":BuildingUsageType"/>
          <element name="Location" type="gen:StringAttributePropertyType">
            <annotation>
              <documentation>Location of the Building, e.g. Country and City.</documentation>
            </annotation>
          </element>
          <element name="ClimateZone" type=":ClimateZoneType"/>
          <element name="BuildingState" type=":BuildingStateType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_AbstractBuildingPropertyType">
    <sequence minOccurs="0">
      <element ref=":_AbstractBuilding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
</schema>
