citygml/UML/CityGML_SRIADE.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--Generated by Enterprise Architect 17.0.1704 ( Build: 1704 )--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.citygml.org/ade/SRI/0.1" xmlns:sri="http://www.citygml.org/ade/SRI/0.1" version="0.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:bldg="http://www.opengis.net/citygml/building/2.0">
	<xs:import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/building.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:annotation>
		<xs:documentation>Contains the Application Schema for the SRI ADE.</xs:documentation>
	</xs:annotation>
	<xs:element name="BuildingUsage" type="sri:BuildingUsageType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="BuildingUsageType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element name="MultiFamilyHouse" type="xs:int"/>
					<xs:element name="NonResidential" type="xs:int"/>
					<xs:element name="Other" type="xs:long"/>
					<xs:element name="SingleFamilyHouse" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuildingUsagePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:BuildingUsage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="DataCategory" type="sri:DataCategoryType" substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="DataCategoryType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DataCategoryPropertyType">
		<xs:sequence>
			<xs:element ref="sri:DataCategory"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="DataCategoy" type="sri:DataCategoyType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="DataCategoyType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="dataCategory">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="sri:DataCategory"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="description">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCategoyPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:DataCategoy"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Assessor" type="sri:AssessorType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="AssessorType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Assesor" type="sri:SRIAssessmentPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>sri:SRI Assesments</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="E-Mail" type="xs:int"/>
					<xs:element name="Name">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="char"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Organisation" type="xs:int"/>
					<xs:element name="PhoneNumber" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssessorPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:Assessor"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Building" type="sri:BuildingType" substitutionGroup="bldg:Building"/>
	<xs:complexType name="BuildingType">
		<xs:complexContent>
			<xs:extension base="bldg:BuildingType">
				<xs:sequence>
					<xs:element name="BuildingState" type="xs:int"/>
					<xs:element name="BuildingType" type="xs:int"/>
					<xs:element name="BuildingUsage" type="xs:int"/>
					<xs:element name="ClimateZone" type="xs:int"/>
					<xs:element name="Location" type="xs:int"/>
					<xs:element name="UsefulFloorArea" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuildingPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:Building"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="FunctionalityLevel" type="sri:FunctionalityLevelType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Description of the functionality level of a Smart Readiness Indicator (SRI). Description contains information such as Level Number, textual description and further remarks. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FunctionalityLevelType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Description" type="xs:int"/>
					<xs:element name="FunctionalityLevel" type="xs:long"/>
					<xs:element name="ID" type="xs:int"/>
					<xs:element name="Name">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="char"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FunctionalityLevelPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:FunctionalityLevel"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Methodology" type="sri:MethodologyType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="MethodologyType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="SRIAssesments" type="sri:SRIAssessmentPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="CoolingDomainPresent" type="xs:boolean"/>
					<xs:element name="DynamicBuildingEnvelopeDomainPresent" type="xs:boolean"/>
					<xs:element name="ElectricityDomainPresent" type="xs:boolean"/>
					<xs:element name="ElectricVehicleChargingDomainPresent" type="xs:boolean"/>
					<xs:element name="HeatingPresent" type="xs:boolean"/>
					<xs:element name="LightingDomainPresent" type="xs:boolean"/>
					<xs:element name="MonitoringAndControlDomainPresent" type="xs:boolean"/>
					<xs:element name="PrefferedServiceCatalogue">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="char"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PrefferedWeightings">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="char"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="VentilationDomainPresent" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MethodologyPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:Methodology"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SRIAssessment" type="sri:SRIAssessmentType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Smart Readiness Indicator (SRI) Assessment of a building. The Assessment is conducted by an Assessor, and leads to a rating of a specific building. Depending on the specifics (such as location, type of building, catalogue considered relevant) different types of services are investigated. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SRIAssessmentType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="SRI Assesments" type="sri:SRIServicePropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="SRI Assesments" type="sri:AssessorPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>sri:Assesor</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="xs:boolean"/>
					<xs:element name="FullBuilding" type="xs:boolean"/>
					<xs:element name="Score" type="xs:integer"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SRIAssessmentPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:SRIAssessment"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SRIService" type="sri:SRIServiceType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Contains the information on a specific service.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SRIServiceType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Code">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="String"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Domain" type="xs:integer"/>
					<xs:element name="Impact" type="xs:integer"/>
					<xs:element name="Name" type="xs:integer"/>
					<xs:element name="Preconditions" type="xs:integer"/>
					<xs:element name="ServiceGroup" type="xs:integer"/>
					<xs:element name="UserDefined" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SRIServicePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:SRIService"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ClimateZone" type="sri:ClimateZoneType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="ClimateZoneType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ClimateZonePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:ClimateZone"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Domain" type="sri:DomainType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="DomainType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element name="CoolingDomain" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DomainPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="sri:Domain"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>