citygml/UML/CityGML-SRIADE.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--Generated by Enterprise Architect 17.0.1704 ( Build: 1704 )--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.citygml.org/ade/SRIADE/0.1" xmlns:SRIADE="http://www.citygml.org/ade/SRIADE/0.1" version="0.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gen="http://www.opengis.net/citygml/generics/2.0">
	<xs:import namespace="http://www.opengis.net/citygml/generics/2.0" schemaLocation="generics.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<gml:gmlProfileSchema>SRIADE</gml:gmlProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="DataCategory" type="SRIADE:DataCategoryType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="DataCategoryType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="dataCategory" type="DataCategoryType"/>
					<xs:element name="description">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataCategoryPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:DataCategory"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EnergyData" type="SRIADE:EnergyDataType" substitutionGroup="SRIADE:DataCategory"/>
	<xs:complexType name="EnergyDataType">
		<xs:complexContent>
			<xs:extension base="SRIADE:DataCategoryType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnergyDataPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:EnergyData"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="IndoorEnvironmentalData" type="SRIADE:IndoorEnvironmentalDataType" substitutionGroup="SRIADE:DataCategory"/>
	<xs:complexType name="IndoorEnvironmentalDataType">
		<xs:complexContent>
			<xs:extension base="SRIADE:DataCategoryType">
				<xs:sequence>
					<xs:element name="Property One">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="type one"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PropertyTwo">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="type two"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IndoorEnvironmentalDataPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:IndoorEnvironmentalData"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EnvType" type="SRIADE:EnvTypeType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="EnvTypeType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Property One">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="type one"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Property Two">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="type two"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnvTypePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:EnvType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ControlType" type="SRIADE:ControlTypeType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="ControlTypeType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Description">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Logic" type="xs:boolean"/>
					<xs:element name="Other" type="xs:boolean"/>
					<xs:element name="Schedule" type="xs:int"/>
					<xs:element name="Setpoint" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ControlTypePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:ControlType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="QualityValue" type="SRIADE:QualityValueType" substitutionGroup="gml:AbstractGML">
		<xs:annotation>
			<xs:documentation>Based on SpatialQualityValue in the UtilityADE.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="QualityValueType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QualityValuePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:QualityValue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Assessor" type="SRIADE:AssessorType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="AssessorType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Assessor" type="SRIADE:SRIAssessmentPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>SRIADE:Assesments</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="E-Mail">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Name">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Organisation">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PhoneNumber">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssessorPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:Assessor"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="FunctionalityLevel" type="SRIADE:FunctionalityLevelType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Description of the functionality level of a Smart Readiness Indicator (SRI). Description contains information such as Level Number, textual description and further remarks. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FunctionalityLevelType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Description">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="FunctionalityLevel">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:IntAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ID">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Name">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FunctionalityLevelPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:FunctionalityLevel"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Methodology" type="SRIADE:MethodologyType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="MethodologyType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="SRIAssesments" type="SRIADE:SRIAssessmentPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="PreferredServiceCatalogue">
						<xs:annotation>
							<xs:documentation>The preferred Service Catalogue for the Assesment. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PreferredWeightings">
						<xs:annotation>
							<xs:documentation>Preferred Weightings of the SRI Assessment. These can either be default or user-defined. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MethodologyPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:Methodology"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SRIAssessment" type="SRIADE:SRIAssessmentType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Smart Readiness Indicator (SRI) Assessment of a building. The Assessment is conducted by an Assessor, and leads to a rating of a specific building. Depending on the specifics (such as location, type of building, catalogue considered relevant) different types of services are investigated. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SRIAssessmentType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Assesments" type="SRIADE:AssessorPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>SRIADE:Assessor</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Score">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:IntAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SRIAssessmentPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:SRIAssessment"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SRIService" type="SRIADE:SRIServiceType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Contains the information on a specific service, the minimum information include, Code (e.g., MC-3), Domain (e.g., Monitoring and control), service group (e.g., HVAC interaction control), Name (e.g., Run time management of HVAC systems), Preconditions (e.g. " "), part of Method A (e.g., True), part of Method B (e.g., False).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SRIServiceType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="Code">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Domain">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Impact">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Name">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Preconditions">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="ServiceGroup">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gen:StringAttribute"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SRIServicePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:SRIService"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="BuildingStateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Original"/>
			<xs:enumeration value="AdvancedRefurbishment"/>
			<xs:enumeration value="NormalRefurbishment"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuildingTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Residential"/>
			<xs:enumeration value="NonResidential"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuildingUsageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Other"/>
			<xs:enumeration value="SingleFamilyHouse"/>
			<xs:enumeration value="Residential - large MultiFamilyHouse"/>
			<xs:enumeration value="NonResidential - Other"/>
			<xs:enumeration value="Residential - single-family-house"/>
			<xs:enumeration value="Residential - small multi-family house"/>
			<xs:enumeration value="Residential - other"/>
			<xs:enumeration value="NonResidentialOffice"/>
			<xs:enumeration value="NonResidentialEducational"/>
			<xs:enumeration value="NonResidentialHealthcare"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClimateZoneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="WestEurope"/>
			<xs:enumeration value="SouthEastEurope"/>
			<xs:enumeration value="NorthEastEurope"/>
			<xs:enumeration value="NorthEurope"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Domain" type="SRIADE:DomainType" substitutionGroup="gml:AbstractGML"/>
	<xs:complexType name="DomainType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractGMLType">
				<xs:sequence>
					<xs:element name="CoolingDomain" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DomainPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="SRIADE:Domain"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>