citygml/UML/CityGML-TestADE.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--Generated by Enterprise Architect 17.0.1704 ( Build: 1704 )--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.citygml.org/ade/TestADE/1.0" xmlns:TestADE="http://www.citygml.org/ade/TestADE/1.0" version="1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:core="http://www.opengis.net/citygml/2.0" xmlns:bldg="http://www.opengis.net/citygml/building/2.0">
	<xs:import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="building.xsd"/>
	<xs:import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="cityGMLBase.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:element name="_AbstractBuildingUnit" type="TestADE:_AbstractBuildingUnitType" substitutionGroup="core:AbstractCityObject" abstract="true"/>
	<xs:complexType name="_AbstractBuildingUnitType" abstract="true">
		<xs:complexContent>
			<xs:extension base="core:AbstractCityObjectType">
				<xs:sequence>
					<xs:element name="equippedWith" type="TestADE:FacilitiesPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="address" type="core:AddressPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="consistsOf" type="TestADE:BuildingUnitPartPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="class" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="Code"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="energyPerformanceCertification" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="TestADE:EnergyPerformanceCertification"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="function" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="Code"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="usage" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="Code"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="lod1MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod2MultiCurve" type="gml:MultiCurvePropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod1Solid" type="gml:SolidPropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod2Solid" type="gml:SolidPropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod3Solid" type="gml:SolidPropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod4Solid" type="gml:SolidPropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod2MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod3MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod4MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod3MultiCurve" type="gml:MultiCurvePropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="lod4MultiCurve" type="gml:MultiCurvePropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="_AbstractBuildingUnitPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:_AbstractBuildingUnit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="BuildingUnit" type="TestADE:BuildingUnitType" substitutionGroup="TestADE:_AbstractBuildingUnit"/>
	<xs:complexType name="BuildingUnitType">
		<xs:complexContent>
			<xs:extension base="TestADE:_AbstractBuildingUnitType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuildingUnitPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:BuildingUnit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="BuildingUnitPart" type="TestADE:BuildingUnitPartType" substitutionGroup="TestADE:_AbstractBuildingUnit"/>
	<xs:complexType name="BuildingUnitPartType">
		<xs:complexContent>
			<xs:extension base="TestADE:_AbstractBuildingUnitType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BuildingUnitPartPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:BuildingUnitPart"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="DHWFacilities" type="TestADE:DHWFacilitiesType" substitutionGroup="TestADE:Facilities"/>
	<xs:complexType name="DHWFacilitiesType">
		<xs:complexContent>
			<xs:extension base="TestADE:FacilitiesType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DHWFacilitiesPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:DHWFacilities"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EnergyPerformanceCertification" type="TestADE:EnergyPerformanceCertificationType" substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="EnergyPerformanceCertificationType">
		<xs:sequence>
			<xs:element name="certificationid" type="xs:string"/>
			<xs:element name="certificationName" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnergyPerformanceCertificationPropertyType">
		<xs:sequence>
			<xs:element ref="TestADE:EnergyPerformanceCertification"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Facilities" type="TestADE:FacilitiesType" substitutionGroup="gml:AbstractFeature" abstract="true"/>
	<xs:complexType name="FacilitiesType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="totalValue" type="gml:MeasureType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FacilitiesPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:Facilities"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="IndustrialBuilding" type="TestADE:IndustrialBuildingType" substitutionGroup="bldg:AbstractBuilding"/>
	<xs:complexType name="IndustrialBuildingType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBuildingType">
				<xs:sequence>
					<xs:element name="remark" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IndustrialBuildingPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:IndustrialBuilding"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="IndustrialBuildingPart" type="TestADE:IndustrialBuildingPartType" substitutionGroup="bldg:BuildingPart"/>
	<xs:complexType name="IndustrialBuildingPartType">
		<xs:complexContent>
			<xs:extension base="bldg:BuildingPartType">
				<xs:sequence>
					<xs:element name="remark" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IndustrialBuildingPartPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:IndustrialBuildingPart"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="IndustrialBuildingRoofSurface" type="TestADE:IndustrialBuildingRoofSurfaceType" substitutionGroup="bldg:RoofSurface"/>
	<xs:complexType name="IndustrialBuildingRoofSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:RoofSurfaceType">
				<xs:sequence>
					<xs:element name="remark" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IndustrialBuildingRoofSurfacePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:IndustrialBuildingRoofSurface"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="LightingFacilities" type="TestADE:LightingFacilitiesType" substitutionGroup="TestADE:Facilities"/>
	<xs:complexType name="LightingFacilitiesType">
		<xs:complexContent>
			<xs:extension base="TestADE:FacilitiesType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LightingFacilitiesPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:LightingFacilities"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="OtherConstruction" type="TestADE:OtherConstructionType" substitutionGroup="core:AbstractSite"/>
	<xs:complexType name="OtherConstructionType">
		<xs:complexContent>
			<xs:extension base="core:AbstractSiteType">
				<xs:sequence>
					<xs:element name="boundedBy" type="bldg:AbstractBoundarySurfacePropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherConstructionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="TestADE:OtherConstruction"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>